.planet-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;  
}

.description {
    background-color: rgba(1, 77, 116, 0.5);
    width: 25%;
}

.orbit {
    position: absolute;
    border: var(--orbit-border);
    border-radius: 100%;
}

.planet {
    position: absolute;
    border-radius: 100%;
}


/* Mercury */
#mercury-orbit {
    top: 205px;
    left: 210px;
    width: 200px;
    height: 200px;
    animation: orbiting 25s linear infinite;
    z-index: 90;
}

#mercury {
    top: 65px;
    left: -5px;
    height: 15px;
    width: 15px;
}


/* Venus */
#venus-orbit {
    top: 150px;
    left: 165px;
    width: 300px;
    height: 300px;
    animation: orbiting 40s linear infinite;
    z-index: 80;
}

#venus {
    top: 65px;
    left: -4px;
    height: 35px;
    width: 35px;
}


/* Earth */
#earth-orbit {
    top: 100px;
    left: 120px;
    width: 400px;
    height: 400px;
    animation: orbiting 60s linear infinite;
    z-index: 70;
}

#earth {
    top: 80px;
    left: 6.5px;
    height: 37.5px;
    width: 37.5px;
}


/* MARS */
#mars-orbit {
    top: 55px;
    left: 80px;
    width: 500px;
    height: 500px;
    animation: orbiting 80s linear infinite;
    z-index: 60;
  }
  
#mars {
    top: 147.5px;
    left: 2px;
    height: 27.5px;
    width: 27.5px;
  }


/* Jupiter */
#jupiter-orbit {
    top: -75px;
    left: -50px;
    width: 800px;
    height: 800px;
    animation: orbiting 120s linear infinite;
    z-index: 50;
  }
  
#jupiter {
    top: 100px;
    left: 42.5px;
    height: 100px;
    width: 100px;
  }
  

@keyframes orbiting {
    100% {
      transform: rotate(360deg);
    }
  }
  