.planet-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;  
}

.description {
    background-color: rgba(1, 77, 116, 0.5);
    width: 25%;
}

.orbit {
    position: absolute;
    border: var(--orbit-border);
    border-radius: 100%;
}

.planet {
    position: absolute;
    border-radius: 100%;
}


/* Mercury */
#mercury-orbit {
    top: 205px;
    left: 210px;
    width: 200px;
    height: 200px;
    animation: orbiting 25s linear infinite;
    z-index: 90;
}

#mercury {
    top: 65px;
    left: -5px;
    height: 15px;
    width: 15px;
}


/* Venus */
#venus-orbit {
    top: 150px;
    left: 165px;
    width: 300px;
    height: 300px;
    animation: orbiting 40s linear infinite;
    z-index: 80;
}

#venus {
    top: 65px;
    left: -4px;
    height: 35px;
    width: 35px;
}


/* Earth */
#earth-orbit {
    top: 100px;
    left: 120px;
    width: 400px;
    height: 400px;
    animation: orbiting 60s linear infinite;
    z-index: 70;
}

#earth {
    top: 80px;
    left: 6.5px;
    height: 37.5px;
    width: 37.5px;
}


/* MARS */
#mars-orbit {
    top: 55px;
    left: 80px;
    width: 500px;
    height: 500px;
    animation: orbiting 80s linear infinite;
    z-index: 60;
}
  
#mars {
    top: 147.5px;
    left: 2px;
    height: 27.5px;
    width: 27.5px;
}

/* Asteroid Belt */
#asteroid-belt {
    top: -10px;
    left: 40px;
    width: 625px;
    height: 625px;
    border: 20px solid gray;
    animation: orbiting 100s linear infinite;
    z-index: 50;
}


/* Jupiter */
#jupiter-orbit {
    top: -100px;
    left: -30px;
    width: 800px;
    height: 800px;
    animation: orbiting 120s linear infinite;
    z-index: 40;
}
  
#jupiter {
    top: 100px;
    left: 42.5px;
    height: 100px;
    width: 100px;
}


/* Saturn */
#saturn-orbit {
    top: -250px;
    left: -130px;
    width: 1100px;
    height: 1100px;
    animation: orbiting 140s linear infinite;
    z-index: 30;
}
  
#saturn {
    top:190px;
    left: 60px;
    height: 80px;
    width: 80px;
}


/* Uranus */
#uranus-orbit {
    top: -400px;
    left: -250px;
    width: 1400px;
    height: 1400px;
    animation: orbiting 160s linear infinite;
    z-index: 20;
}
  
#uranus {
    top: 300px;
    left: 70px;
    height: 65px;
    width: 65px;
}

/* Neptune */
#neptune-orbit {
    top: -550px;
    left: -350px;
    width: 1700px;
    height: 1700px;
    animation: orbiting 180s linear infinite;
    z-index: 10;
}
  
#neptune {
    top: 400px;
    left: 80px;
    height: 60px;
    width: 60px;
}




@keyframes orbiting {
    100% {
      transform: rotate(360deg);
    }
  }
  