* {
  box-sizing: border-box;
  --space-background-color: rgb(22, 16, 58);
  --orbit-border: 2px #4A437F dashed;
}

body {
  background-color: var(--space-background-color);
}

h1, p {
  color: white;
}

h1 {
  font-size: 300%;
}

.solarSystemContainer {
  margin-top: 15%;
  margin-left: 10%;
  position: absolute;
  height: 100%;
  width: 100%;
}

#sun {
  position: absolute;
  top: 230px;
  left: 230px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: orange;
  z-index: 100;
}







